.new{
    color:blue;
    
}

.textname {
    color: red;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase
}
.btn1{
        
    display: block;
    font-size: 14px
    
}